:css
  /* Sticky footer styles
  -------------------------------------------------- */

  html,
  body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
  }

  /* Wrapper for page content to push down footer */
  #wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
  }

  /* Set the fixed height of the footer here */
  #footer {
    background-color: #f5f5f5;
    height: 60px;
    margin-top: 60px;
  }

  /* Twitter Profile styles
  -------------------------------------------------- */
  .twPc-div {
      background: #fff none repeat scroll 0 0;
      border: 1px solid #e1e8ed;
      border-radius: 6px;
      height: 150px;
      max-width: 340px;
      margin-bottom: 40px;
  }
  .twPc-bg {
      border-bottom: 1px solid #e1e8ed;
      border-radius: 4px 4px 0 0;
      height: 40px;
      width: 100%;
  }
  .twPc-block {
      display: block !important;
  }
  .twPc-button {
      margin: -35px -10px 0;
      text-align: right;
      width: 100%;
  }
  .twPc-avatarLink {
      background-color: #fff;
      border-radius: 6px;
      display: inline-block !important;
      float: left;
      margin: -30px 5px 0 8px;
      max-width: 100%;
      padding: 1px;
      vertical-align: bottom;
  }
  .twPc-avatarImg {
      border: 2px solid #fff;
      border-radius: 7px;
      box-sizing: border-box;
      color: #fff;
      height: 72px;
      width: 72px;
  }
  .twPc-divUser {
      margin: 5px 0 0;
  }
  .twPc-divName {
      font-size: 18px;
      font-weight: 700;
      line-height: 21px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis
  }
  .twPc-divName a {
      color: inherit !important;
  }
  .twPc-divStats {
      margin-left: 11px;
      padding: 10px 0;
  }
  .twPc-Arrange {
      box-sizing: border-box;
      display: table;
      margin: 0;
      min-width: 100%;
      padding: 0;
      table-layout: auto;
  }
  ul.twPc-Arrange {
      list-style: outside none none;
      margin: 0;
      padding: 0;
  }
  .twPc-ArrangeSizeFit {
      display: table-cell;
      padding: 0;
      vertical-align: top;
  }
  .twPc-ArrangeSizeFit a:hover {
      text-decoration: none;
  }
  .twPc-StatValue {
      display: block;
      font-size: 18px;
      font-weight: 500;
      transition: color 0.15s ease-in-out 0s;
  }
  .twPc-StatValue.commits {
    color: #a650c0;
  }
  .twPc-StatValue.insertions {
    color: #539734;
  }
  .twPc-StatValue.deletions {
    color: #c03c24;
  }
  .twPc-StatLabel {
      color: #8899a6;
      font-size: 10px;
      letter-spacing: 0.02em;
      overflow: hidden;
      text-transform: uppercase;
      transition: color 0.15s ease-in-out 0s;
  }

  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */

  #wrap > .container {
    padding: 60px 15px 0;
  }
  .container .text-muted {
    margin: 20px 0;
  }

  #footer > .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .user-avatar {
    margin: 0 10px 10px 0;
  }

  .dp {
    box-sizing: border-box;
    border:10px solid #eee;
    transition: all 0.2s ease-in-out;
  }

  .dp:hover {
    border:2px solid #eee;
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    /*-webkit-font-smoothing:antialiased;*/
  }

  .dashboard-box {
    background-color: #f3f3f3;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px;
    text-align: center;
  }

  .dashboard-box a {
    color: #555;
    text-decoration: none;
  }

  .dashboard-box .glyphicon {
    font-size: 48px;
  }

  #authors li {
    list-style: none;
  }

  .usersColorLegend {
    vertical-align: middle;
  }
